<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:dct="http://purl.org/dc/terms/"
      xmlns:frbr="http://purl.org/vocab/frbr/core#"
      xml:lang="{{ target_lang }}">
  <head about="{{ license.uri }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" 
	  content="application/xhtml+xml; charset=utf-8" />
    <title>
      {%- block title -%}
        Creative Commons &mdash; {{ license.title(target_lang) }}
      {%- endblock -%}
    </title>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/includes/yahooapis/2.6.0/container.css"/>

    <link rel="stylesheet" type="text/css"
          href="{{ request.staticdirect('includes/deed3.css') }}"
          media="screen" />
    {% if is_rtl %}
      <link rel="stylesheet" type="text/css" media="screen"
            href="{{ request.staticdirect('includes/deed3-rtl.css') }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" media="print"
          href="{{ request.staticdirect('includes/deed3-print.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ request.staticdirect('includes/jurisdictions.css') }}"
          media="screen" />

    <!--[if lt IE 7]>
      <link rel="stylesheet" type="text/css"
            href="{{ request.staticdirect('includes/deed3-ie.css') }}"
            media="screen" />
    <![endif]-->

    <link rel="alternate" type="application/rdf+xml" href="rdf" />
    {% include "includes/language_javascript.html" %}

    <script type="text/javascript" src="/includes/yahooapis/2.6.0/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="/includes/yahooapis/2.6.0/connection-min.js"></script>
    <script type="text/javascript" src="/includes/yahooapis/2.6.0/json-min.js"></script>
    <script type="text/javascript" src="/includes/yahooapis/2.6.0/container-min.js"></script>

    <script type="text/javascript" src="//scraper.creativecommons.org/js/deed.js"></script>

    <script type="text/javascript"
            src="{{ request.staticdirect('includes/help.js') }}">
    </script>

    {% block headers %}{% endblock %}
  </head>

  <body typeof="cc:License" about="{{ license.uri }}"
        class="yui-skin-sam">

    {% block page_top %}{% endblock %}

    <div id="deed"
         class="{% if color %}{{ color }}{% else %}green{% endif %}"
         dir="{{ get_ltr_rtl }}"
         style="{{ is_rtl_align }}">

      <div id="deed-head">
        <div id="cc-logo">
          <img src="{{ request.staticdirect('images/deed/cc-logo.jpg') }}"
               alt="cc logo" />
        </div>
        <div id="cc-link">
          <a rel="dc:creator dct:creator" href="http://creativecommons.org/">
            <span property="dc:title dct:title">Creative Commons</span>
          </a>
        </div>
        <h1><span>Creative Commons License Deed</span></h1>

        <div id="deed-license">
          <h2>{% block license_name %}{% endblock %}</h2>
        </div>
      </div>

      <div id="deed-main" dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
        <div id="legalcode-block">
            {% block legalcode_block %}
              <!--- hidden disclaimer text -->
            <div id="help_disclaimer_popup" class="help_panel">
              <div class="hd">{% trans %}Disclaimer{% endtrans %}</div>
              {% if license.jurisdiction.code == 'jp' %}
                <div class="bd">
                  {% trans %}<p>
The Commons Deed is not a license. It is simply a handy reference for understanding the Legal Code (the full License) — it is a human-readable expression of some of its key terms. This Deed itself has no legal value, and its contents do not appear in the actual License.  The actual terms of the license is set forth by the Legal Code.  <a href="legalcode" class="fulltext">Please click here to see the full License</a>.  
</p>

<p>
Creative Commons and Creative Commons Japan are not law firms, and distributing of or displaying of, or linking to the Commons Deed does not constitute an offer of legal advice or any other legal services. Creative Commons and Creative Commons Japan are not a party to the License underlying this Commons Deed, and disclaim liablity for damages resulting from any use of the Commons Deed and the underlying License.
</p>

<p>
The Product licensed under Creative Commons License is provided by the person who applied the License.  Creative Commons and Creative Commons Japan make no warranties regarding the title of the licensor.  Please read <a href="http://creativecommons.jp/faq/">here</a> for information regarding the application of licenses and exploitation of the Product licensed under Creative Commons licenses.
</p>{% endtrans %}
                </div>
              {% else %}
                <div class="bd">
                  <p>{% trans %}This deed highlights only some of the key features and terms of the actual license. It is not a license and has no legal value. You should carefully review all of the terms and conditions of the actual license before using the licensed material.{% endtrans %}</p>

                  <p>{% trans %}Creative Commons is not a law firm and does not provide legal services. Distributing, displaying, or linking to this deed or the license that it summarizes does not create a lawyer-client or any other relationship.{% endtrans %}</p>
                </div>
              {% endif %}
            </div>
  
            <div id="deed-disclaimer">
              {% if multi_language %}
                <div class="summary">
                  {% trans %}This is a human-readable summary of (and not a substitute for) the license, which is available in the following languages:{% endtrans %}
                  {% for legalcode_link, legalcode, legalcode_name in legalcodes %}
                    <a href="{{ legalcode_link }}">{{ legalcode_name }}</a>
                  {% endfor %}
                </div>
              {% else %}
                <div class="summary">
                  {% trans %}This is a human-readable summary of (and not a substitute for) the <a href="legalcode" class="fulltext">license</a>.{% endtrans %}
                </div>

              {% endif %}
  
              <div class="disclaimer">
                <a href="#" id="disclaimer_popup" class="helpLink">
                  {% trans %}Disclaimer{% endtrans %}
                </a>
              </div>
            </div>
          {% endblock %}
        </div>

        <div id="deed-main-content" class="{{ license.jurisdiction.code }}">
          {% block body %}{% endblock %}
        </div>
      </div>

    </div>
    <div id="footer">
      <p>
        {% if not license.deprecated %}
          {% block use_this_license %}
            {% trans %}
        <a href="http://wiki.creativecommons.org/FAQ">Learn more</a> about CC licensing, or <a id="get_this" href="{{ get_this }}">use the license</a> for your own material.
            {% endtrans %}
          {% endblock %}
        {% endif %}
      </p>
       <noscript>
        <div id="deed-donate-footer">
            <div class="footer-trigger">
                <img src="/images/deed/logo-cc-heart-green.png" class="footer-logo" alt="" width="100" height="88" />
                <div class="footer-trigger-content">
                    <p>{% trans %}This content is freely available under simple legal terms because of Creative Commons, a non-profit that survives on donations. If you love this content, and love that it's free for everyone, please consider a donation to support our work.{% endtrans %}</p>
                    <a href="https://donate.creativecommons.org/?utm_campaign=2015fund&utm_source=license_footer2015"><button>Make a Donation</button></a>
                </div>
            </div>
        </div>
        </noscript>

      {% include "includes/translations.html" %}
    </div>

    <div id="deed-donate-slide" style="display: none;">
        <div class="slide-close"></div>
        <div class="slide-trigger">
            <img src="/images/deed/logo-cc-heart-white.png" class="slide-logo" alt="" width="100" height="88" />
            <p>{% trans %}This content is freely available under simple legal terms because of Creative Commons, a non-profit that survives on donations. If you love this content, and love that it's free for everyone, please consider a donation to support our work.{% endtrans %}</p>
            <button>{% trans %}Donate Now{% endtrans %}</button>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#deed-donate-slide').addClass('slider');
            $('#deed-donate-slide').show();
            // Set banner to reveal after X seconds
            setTimeout(function(){
                $('#deed-donate-slide').addClass('reveal');
            }, 8000);
            $(window).scroll(function() {
                if ($(window).scrollTop() <= 160) {
                    $('#deed-donate-slide').finish();
                    //$('#deed-donate-slide').removeClass('reveal');
                } else {
                    $('#deed-donate-slide').addClass('reveal');
                }
            });

            $('.slide-close').click(function(event) {
                $('#deed-donate-slide').remove();
            });

            /* Close slider on pressing ESC */
            $(document).keyup(function(e) {
                if (e.keyCode === 27) {
                    $('#deed-donate-slide').remove();
                }
            });

            $(".slide-trigger p, .slide-trigger button").click(function(){
                window.location.href = "https://donate.creativecommons.org/?utm_campaign=2015fund&utm_source=license_slide2015";
  
            });
        });
    </script>
    <script type="text/javascript">
//<![CDATA[
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2010376-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
//]]>
    </script>
    <script type="text/javascript">
//<![CDATA[
      document.write("<" + "script type='text/javascript' src='//scraper.creativecommons.org/apps/deed?url=" + encodeURIComponent(document.referrer) + "&amp;license_uri=" + encodeURIComponent(document.URL) + "&amp;callback=YAHOO.cc.success'" + "><" + "/script>");
//]]>
    </script>
  </body>
</html>
