<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>{% block title %}Page Title{% endblock %}</title>

  <link href="/wp-content/themes/creativecommons.org/favicon.ico" title="Icon" type="image/x-icon" rel="icon" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  
  <link rel="stylesheet" href="/wp-content/themes/creativecommons.org/css/style.css" />
  <link rel="stylesheet" href="/wp-content/themes/creativecommons.org/engine.css" />

  {% if is_rtl %}
    <link rel="stylesheet" type="text/css"
          href="{{ request.staticdirect('cc6/engine-rtl.css') }}" />
  {% endif %}

  <script src="/wp-content/themes/creativecommons.org/js/libs/modernizr-2.0.6.min.js"></script>

  <script type="text/javascript"
          src="{{ request.staticdirect('includes/license-results.js') }}" >
  </script>


<style>
 @media screen and (max-width: 770px) {
   #email-signup-2014 form * { text-align: center;}
   #email-signup-2014 label { font-size: 14px !important; width: auto; height: auto !important;}
   #email-signup-2014 input { width: 100%; padding-top: 5px;}
 }

 @media screen and (min-width: 771px) {
   #email-signup-2014 {height: 58px;}
   #email-signup-2014 label { font-size: 18px; margin: 0px 0px 0.75em; color: #000; width: auto; padding-right: 20px; text-align: left; font-weight: normal !important;}
 }

 @media screen and (min-width: 940px) {
   #email-signup-2014 label { font-size: 28px; margin: 0px 0px 0.75em; color: #000; width: 540px; text-align: left; font-weight: normal !important;}
 }
</style>

  {% block headers %}{% endblock %}
</head>

<body>

  <div id="container">
<header> <a id="skip-navigation" href="#main" title="Skip Navigation">Skip Navigation</a>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	<a class="navbar-brand" href="/"><img src="https://creativecommons.org/wp-content/themes/creativecommons.org/img/cc.logo-126x30.png" alt="Creative Commons" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
	    <li><a href="/about">About CC</a></li>
	    <li><a href="/about/history">History</a></li>
	    <li class="divider"></li>
	    <li><a href="/who-uses-cc">Who Uses CC?</a></li>
	    <li><a href="http://wiki.creativecommons.org/Case_Studies">Case Studies</a></li>
	    <li><a href="/videos/">Videos about CC</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">The Team</li>
	    <li><a href="/board">Board of Directors</a></li>
	    <li><a href="/staff">Staff</a></li>
	    <li><a href="http://wiki.creativecommons.org/CC_Affiliate_Network">Affiliate Network</a></li>
	    <li><a href="/opportunities">Job Opportunities</a></li>
	    <li class="divider"></li>
	    <li><a href="http://wiki.creativecommons.org/FAQ">Frequently Asked Questions</a></li>
	    <li><a href="/contact">Contact Us</a></li>
          </ul>
        </li>
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Licenses <span class="caret"></span></a>
          <ul class="dropdown-menu">
	    <li><a href="/licenses/">About the Licenses</a></li>
	    <li><a href="/choose/">Choose a License</a></li>
	    <li><a href="http://search.creativecommons.org">Find licensed content</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">Licensors</li>
	    <li><a href="http://wiki.creativecommons.org/Considerations_for_licensors_and_licensees#Considerations_for_licensors">Things to know before licensing</a></li>
	    <li><a href="http://wiki.creativecommons.org/FAQ#Do_I_need_to_sign_something_or_register_to_obtain_a_Creative_Commons_license.3F">Do I need to register my work?</a></li>
	    <li><a href="http://wiki.creativecommons.org/Marking_your_work_with_a_CC_license">Marking my work</a></li>
	    <li><a href="/examples">License examples</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">Licensees</li>
	    <li><a href="http://wiki.creativecommons.org/Best_practices_for_attribution">Best practices for attribution</a></li>
	    <li><a href="http://wiki.creativecommons.org/FAQ#Who_gives_permission_to_use_material_offered_under_Creative_Commons_licenses.3F">Getting permission</a></li>
	    <li class="divider"></li>
	    <li class="dropdown-header">Developers</li>
	    <li><a href="http://wiki.creativecommons.org/Integrate">App Integration</a></li>
	    <li><a href="http://wiki.creativecommons.org/Developer_Challenges">Developer Challenges</a></li>
	    <li><a href="http://wiki.creativecommons.org/Translate">Translation</a></li>

	</ul></li>
	

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Public Domain <span class="caret"></span></a>
          <ul class="dropdown-menu">
	    <li><a href="/publicdomain/">Our Public Domain Tools</a></li>
	    <li class="divider"></li>
	    <li><a href="/about/cc0">About CC0 Public Domain Dedication</a></li>
	    <li><a href="/choose/zero/">Choose CC0 Public Domain Dedication </a></li>
	    <li class="divider"></li>
	    <li><a href="/about/pdm">About Public Domain Mark</a></li>
        </ul>

	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support CC <span class="caret"></span></a>
      <ul class="dropdown-menu">
	    <li><a href="https://donate.creativecommons.org">Donate to Creative Commons</a></li>
	    <li><a href="http://store.creativecommons.org/">Buy CC Merchandise</a></li>
	    <li><a href="/supporters">Our Supporters</a></li>
	    <li><a href="https://creativecommons.net/testimonials/">Testimonials</a></li>
	  </ul>
	</li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">

	    <li><a href="/culture">Culture</a></li>
	    <li><a href="/education">Education</a></li>
	    <li><a href="/publicpolicy">Public Policy</a></li>
	    <li><a href="/science">Science</a></li>
	    <li class="divider"></li>
	    <li><a href="http://open4us.org/">OPEN</a></li>
	    <li><a href="/music-communities">Music Communities</a></li>
	    <li><a href="http://openpolicynetwork.org/">Open Policy Network</a></li>
            <li><a href="/record-labels">Record Labels</a></li>
            <li><a href="http://schoolofopen.org/">School of Open</a></li>
            <li><a href="http://wiki.creativecommons.org/4.0">Versioning the license suite</a></li>

	  </ul>
	</li>

	<li><a href="/weblog">Blog</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
          <ul class="dropdown-menu">
	    <li class="divider"></li>
	    <li><a href="/interviews">Interviews</a></li>
	    <li><a href="http://wiki.creativecommons.org/Events">Events</a></li>
	    <li><a href="/newsletter">Newsletters</a></li>
	    <li class="divider"></li>
	    <li><a href="/about/press">Press Room</a></li>
	  </ul>
	</li>

      </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>
<div id="top-banner">
	<a style="display: block;" href="https://donate.creativecommons.org/?utm_campaign=2015fund&utm_source=ccsite_header2015">
		<h1>Keep the internet creative, free and open.</h1>
		<button>Donate to Creative Commons</button>
	</a>
</div>
    </header>
    

    <div dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}" 
         id="main" role="main">
      <div class="container">

        <div class="sixteen columns">
          <div class="first row">
            <div id="title">
              <h1 dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
                {%- block page_header_title %}{% endblock -%}
              </h1>
            </div>
          </div> <!--! end of "first row" -->
          
          <div class="row">

            {% if page_style == "bare" %}
              {# No wrapping needed :) #}
            {% elif page_style == "2cols" %}
              <div class="sixteen columns">
            {% else %}
              <div class="twelve columns alpha">
            {% endif %}

            <div dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}"
                 id="content">
               {% block body %}{% endblock %}
            </div>

            {% if page_style == "bare" %}
              {# Again... no wrapping needed :) #}
            {% elif page_style == "2cols" %}
              </div> <!--! end of "sixteen columns" -->
            {% else %}
              </div> <!--! end of "twelve columns alpha" -->
              <div class="four columns omega">
                <div dir="{{ get_ltr_rtl }}" style="{{ is_rtl_align }}">
                  {% block sidebar %}{% endblock %}
                </div> <!--! end of sidebar -->
              </div> <!--! end of "four columns omega" -->
            {% endif %}
          </div> <!-- end of "row" -->
        </div> <!--! end of "sixteen columns" -->
      </div><!--! end of .container -->
    </div><!--! end of #main -->

<footer id="fixfooter">
  <div class="container">
    
    <div id="globe"></div>

    <div id="colophon">
      <div class="row">
	<div class="col-md-8">

	  <div class="clearfix">&nbsp;</div>
	  
	  <ul class="list-inline list-unstyled">
	    <li><a href="http://www.facebook.com/creativecommons" title="Creative Commons on Facebook"><img src="/wp-content/themes/creativecommons.org/img/facebook.png" alt="Creative Commons on Facebook"/></a></li>
	    <li><a href="http://twitter.com/creativecommons" title="Creative Commons on Twitter"><img src="/wp-content/themes/creativecommons.org/img/twitter.png" alt="Creative Commons on Twitter"/></a><li>
	    <li><a href="http://identi.ca/creativecommons" title="Creative Commons on Identi.ca"><img src="/wp-content/themes/creativecommons.org/img/identica.png" alt="Creative Commons on Identi.ca"/></a></li>
	  </ul>
	  
	  <ul class="list-inline list-unstyled">
	    <li><a href="http://creativecommons.org/policies">Policies</a></li>
	    <li><a href="http://creativecommons.org/privacy">Privacy</a></li>
	    <li><a href="http://creativecommons.org/terms">Terms of Use</a></li>
	    <li><a href="http://creativecommons.org/contact">Contact CC</a></li>
	  </ul>
	    	    
	</div>
	<div class="col-md-4">

	  <div class="clearfix">&nbsp;</div>
	  
	    <p>
	      <a rel="license"
		 href="//creativecommons.org/licenses/by/4.0/"
		 title="Creative Commons Attribution 4.0 International license"
		 ><img src="//i.creativecommons.org/l/by/4.0/88x31.png"
		       alt="License"/></a>
	    </p>
	    <div style="display: inline;" xmlns:cc="http://creativecommons.org/ns#"
		 about="http://creativecommons.org">
	      <p>
		<small>
		  Except where otherwise
		  <a class="subfoot" href="//creativecommons.org/policies#license">noted</a>,
		  content on
		  <span 
		     href="http://creativecommons.org" 
		     property="cc:attributionName" 
		     rel="cc:attributionURL">this site</span> 
		  is licensed under a 
		  <a rel="license" 
		     href="//creativecommons.org/licenses/by/4.0/"
		     class="subfoot">
		    Creative Commons Attribution 4.0 International license</a>.
		</small>
	      </p>

    </div>
</footer>
  </div><!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- scripts concatenated and minified via build script -->
  <script type="text/javascript">
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!! dirty hack !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
j = $;
  </script>
  <script defer src="/wp-content/themes/creativecommons.org/js/plugins.js"></script>
  <script defer src="/wp-content/themes/creativecommons.org/js/script.js"></script>
  <!-- end scripts -->

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2010376-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

  {% block scripts %}{% endblock %}
</body>
</html>
