/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

/* =============================================================================
   Preboot
   ========================================================================== */

html, body {
	height: 100%;
	color: #000000;
}

::-moz-selection { background: #627D0F; color: #fff; text-shadow: none; }
::selection { background: #627D0F; color: #fff; text-shadow: none; }

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* =============================================================================
   Scaffolding
   ========================================================================== */

#container {
	min-height: 100%;
	position: relative;
}

#main {
	padding-bottom: 300px;
}

#fixfooter,
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 260px;
	padding-top: 0px;
	margin-top: 0px;
	background-color: #98C807;
	border-top: none;
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.row {
  margin-left: 0px;
  margin-bottom: 0px;
}

.first.row {
	margin-top: 20px;
}

a {
  color: #4374B7;
}

a:visited {
	color: #4374B7;
}

.btn.primary:visited {
	color: #fff;
}

/*.btn:visited {
	color: #393839;
}*/

label {
	width: 130px;
}

#cc_widget_dialog_donateOptions label {
    float: auto;
    padding-left: 3px;
}

div.input {
	margin-left: 150px;
}

.help-link {
	height: 16px;
	width: 16px;
	display: inline-block;
	background: url("../img/information.png") 0px 0px no-repeat;
}

.help-link span {
	display: none;
}

.light {
    gray;
}

.bucket .btn {
	margin-right: 15px;
}

.btn.primary {
  font-weight: 700;
  background-color: #688527;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#98C807), to(#688527));
  background-image: -moz-linear-gradient(#98C807, #688527);
  background-image: -ms-linear-gradient(#98C807, #688527);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98C807), color-stop(100%, #688527));
  background-image: -webkit-linear-gradient(#98C807, #688527);
  background-image: -o-linear-gradient(#98C807, #688527);
  background-image: linear-gradient(#98C807, #688527);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98C807', endColorstr='#688527', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #688527 #688527 #50661E;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* =============================================================================
   Typography
   ========================================================================== */

h6 {
  line-height: 18px;
  margin-bottom: 18px;
}

h6, h6 small {
	color: #A7A9AC;
}

   
/* =============================================================================
   Patterns
   ========================================================================== */

.topbar {
	position: relative;
}
.topbar .topbar-inner {
	background: #98C807;
	background-color: #98C807;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#98C807), to(#688527));
	background-image: -moz-linear-gradient(#98C807, #688527);
	background-image: -ms-linear-gradient(#98C807, #688527);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98C807), color-stop(100%, #688527));
	background-image: -webkit-linear-gradient(#98C807, #688527);
	background-image: -o-linear-gradient(#98C807, #688527);
	background-image: linear-gradient(#98C807, #688527);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98C807', endColorstr='#688527', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar #skip-navigation {
	position: absolute;
	top: -200px;
	left: 150px;
}

.topbar #skip-navigation:focus {
	top: 0px;
}

.topbar #logo {
	position: relative;
	float: left;
	display: block;
	background: #393839;
	height: 40px;
	width: 150px;
    background: url("../img/cc.logo-126x30.png") 10px 4px no-repeat;
}

.topbar #logo span {
	display: none;
}

.topbar #home-button {
	position:absolute;
	height: 40px;
	width: 150px;
	top:0;
	left: 0;
	z-index: 1;
    cursor: pointer;
}

.topbar #home-link {
	position: absolute;
	left: 0;
	z-index: -1;
}

.topbar #home-button:hover {
	background-color: #393839;
	background-color: rgba(255, 255, 255, 0.05);
}

.topbar a:focus #home-button {
	outline: thin dotted;
}

a.menu:after, .dropdown-toggle:after {
	display: none;
}

#short-menu a.dropdown-toggle:after {
	display: inline-block;
}

.topbar a {
  color: #ffffff;
}

.topbar div > ul a:hover, .nav a:hover
  background-color: #9FCC3B;
  background-color: rgba(255, 255, 255, 0.05);
}
.topbar div > ul .active a, .nav .active a {
  background-color: #9FCC3B;
  background-color: rgba(255, 255, 255, 0.05);
}

.topbar form {
	float: right;
  	max-width: 220px;
  	width: 19%;
  	margin-right: 10px;
}

.topbar form input {
  	width: 85%;
  	float: right;
  	max-width: 220px;
  	border: 1px solid #777;
}
.topbar form input:-moz-placeholder {
  color: #F2F2F2;
}
.topbar form input::-webkit-input-placeholder {
  color: #F2F2F2;
}
.topbar form input:hover {
  background-color: #ADCC67;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
.topbar form input:focus, .topbar form input.focused {
  outline: none;
  background-color: #fff;
  color: #404040;
  text-shadow: 0 1px 0 #fff;
  border: 0;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.topbar form #glass {
	cursor: pointer;
	position: absolute;
	outline: none;
	right: 6px;
	top: 6px;
	width: 16px;
	height: 16px;
	font-size: 0px;
	margin: 0;
	border: 0 none;
	background: url("../img/search-glass.png") no-repeat 0 0; /* Icon by Tiheum, GNU/GPL*/
	overflow:hidden;
}
.topbar form #glass:active {
	outline: none;
}
.topbar form #glass:focus {
	padding: 0;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.topbar form input[type='text'] {
	background-color: #89B033;
  	background-color: rgba(0, 0, 0, 0.1);
}

.topbar form input:focus, .topbar form input.focused {
  outline: none;
  background-color: #fff;
  color: #404040;
  text-shadow: 0 1px 0 #fff;
  border: 0;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);i
}

.topbar form input[type='submit'] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.nav .dropdown.open .dropdown-toggle, 
.nav .dropdown.open .dropdown-toggle:hover {
  background-color: #688527;
  background-color: rgba(255, 255, 255, 0.1);
  *background-color: #688527;
  /* IE6-7 */

  color: #fff;
}

.topbar div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover {
  background-color: #EDEDEE;
  *background-color: #EDEDEE;
  /* IE6-7 */

  color: #393839;
}

.topbar div > ul .menu-dropdown,
.nav .menu-dropdown {
  background-color: #f5f5f5;
  min-width: 220px;
  max-width: 220px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.topbar div > ul .menu-dropdown li a,
.nav .menu-dropdown li a {
	text-shadow: none;
	color: #333;
}

.topbar div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover {
  background-color: #dddddd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(top, #eeeeee, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
}

.topbar div > ul .menu-dropdown .divider,
.nav .menu-dropdown .divider {
  background: #F2F2F2;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
  
.topbar ul li ul li span {
  padding: 6px 15px;
  cursor: default;
  color: #BFBFBF;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: none;
  border-top: none;
}

.topbar div > ul#short-menu {
  float: right;
}

#top-banner {
  position: relative;
  margin: 0 0 0;
  padding: 0;
  background-color: #dc642f;
  text-align: center;
}
#top-banner a {
  position: relative;
  height: 100px;
  width: 940px;
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
}
#top-banner h1 {
  float: left;
  margin: 0;
  padding: 32px 0;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: normal;
}
#top-banner button {
  float: right;
  background: rgba(70,34,18,.8);
  display: inline-block;
  height: 50px;
  padding: .5em 1em;
  border: 0;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2);
  box-shadow:inset 2px 2px 6px 0 rgba(0,0,0,.2);
  color: #fff;
  font-size: 23px;
  /*font-weight: bold;*/
  margin: 25px 0;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#top-banner button:hover {
  background: rgba(70,34,18,1);
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  #top-banner a {
    width: 748px;
  }
  #top-banner h1 {
    font-size: 23px;
  }
  #top-banner button {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  #top-banner a {
    display: block;
    width: 80%;
    height: 100%;
    text-align: center;
  }
  #top-banner h1, #top-banner button { float: none; }
  #top-banner h1 {
    padding: 15px 0;
    font-size: 22px;
    line-height: 26px;
  }
  #top-banner button {
    margin: 0 auto 15px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 360px) {
  #top-banner h1 {
    font-size: 20px;
    line-height: 24px;
  }
  #top-banner button {
    font-size: 16px;
  }
}

.help-popover {
	position: relative;
	display: none;
}

.help-popover.open {
	display: block;
}

.well {
	position: relative;
}

.well .well {
	background-color: #eee;
}

.popover {
	display: block;
}

.popover .close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #999;
  line-height: 10px;
  font-size: 18px;
}

.bucket {
	width: 100%;
	margin-bottom: 20px;
}

.bucket .inner {
  background-color: #393839;
  *background-color: #393839;
  /* IE 6-7 */

  padding: 0px;
  overflow: hidden;
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.bucket .title {
  color: #fff;
  padding: 9px 14px;
  line-height: 1;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #EDEDEE;
}
.bucket .content {
  position: relative;
  background-color: #F5F5F5;
  padding: 14px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  padding-bottom: 60px;
}

.bucket .sample {
	overflow: hidden;
	display: block;
	width: 100%;
	margin; 0 auto;
	text-align: center;
}

.bucket-follow {
	display: block;
	float: right;
	position: absolute;
	bottom: 20px;
}

.casestudies td:first-child { 
	vertical-align: middle; 
}

.casestudies td:first-child img { 
	display: block; 
	margin: auto; 
}

footer, footer p, footer p small {
	color: #ffffff;
}

footer a, footer a:hover, footer a:visited {
	color: #ffffff;
}

footer a {
	font-weight: bold;
}

footer #colophon {
	position: relative;
	z-index: 500;
}

#footer  {
	text-shadow: none;
}

#footer .nav a:hover {
	text-decoration: underline;
}

#colophon .bucket {
	margin-left: 10px;
}

#globe {
	position: absolute;
	overflow: visible;
	top: 10px;
	left: 0px;
    /* width: 940px 
	width: 393px; */
    width: 100%;
	height: 250px;
	background: url("../img/Peters_projection_blank.png") no-repeat 0 0; /* https://secure.wikimedia.org/wikipedia/commons/wiki/File:Peters_projection,_blank.svg */
	/*opacity:0.75; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter:alpha(opacity=75);*/
}

.carousel {
	display: none;
	position: relative;
}

.first .carousel {
	margin-top: 0px;
}

.slides_container {
	position: relative;
}
.slides_container div.slide {
	display:block;
}

.carousel .slide .content {
	background: #393839;
}

.carousel .slide .film {
	position: relative;
}

.carousel .slide .film img {
	width: 100%;
}
  
.carousel .slide p, .carousel .slide h6 {
	color: #EDEDEE;
}

.carousel .slide p strong {
	color: #fff;
}

.carousel .slide p a {
	color: #98C807;
}

.carousel .slide p a {
	font-weight: bold;
}

.carousel .slide .film .caption {
	z-index:500;
	position:absolute;
	bottom: 0px;
	left:0px;
	min-height:30px;
	padding:5px 20px 5px 20px;
    background:#393839;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

.carousel #slides .next {
	position: absolute;
	display: block;
	top: 135px;
	right: -24px;
	height: 43px;
	width: 24px;
	background: url('../img/arrow-next.png') no-repeat 0 0;
	text-indent: -9999px;
	font-size: 0px;
	overflow: hidden;
}
.carousel #slides .prev {
	position: absolute;
	display: block;
	top: 135px;
	left: -24px;
	height: 43px;
	width: 24px;
	background: url('../img/arrow-prev.png') no-repeat 0 0;
	text-indent: -9999px;
	font-size: 0px;
	overflow: hidden;
}


.bucket .frames {
	position: absolute;
	right: 5px;
	top: -15px;
}

.bucket #case .frames {
	top: 5px;
}

.bucket .frames li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.bucket .frames li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.bucket .frames li a:focus {
	outline: thin dotted;
}

.bucket .frames li.current a {
	background-position:0 -12px;
}

#case .studies .slide {
	height: 380px;
}

#store {
	width: 300px;
	margin: 0 auto;
}

#store .swag {
	height: 200px;
}

.avatar {
	display:none;
}

.comments {
	margin-top: 13px;
}

.comments ol.commentlist {
	list-style-type: none;
	margin-top: 13px;
}

.comments ol.commentlist li {
	margin-bottom: 18px;
}

.comments ol.commentlist li p {
	margin-left: 18px;
}

.comments .comment-author cite {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.comments .comment-meta {
	font-size: 11px;
	margin-bottom: 13px;
}

#comments input.text,
#comments textarea { 
    width: 100%; 
}

.twitter {
    padding-bottom: 6px;
}

.twitter a {
	display: block;
	display: inline-block;
	padding: 0px 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #aaa;
	color: #fff;
	font-weight: bold;
	font-size: 90%;
	border: 1px solid #999;
}

.twitter a:hover {
	background-color: #2094c8;
	text-decoration: none;
}



/* Press Kit Specials */
ul.presskit {
        margin-top: 1em;
        list-style:none;
        clear: both;
        margin-left: 0;
}

ul.presskit li {
  display: inline-block;
  vertical-align: top;
        width: 7em;
        padding: 0.3em 0.7em;
        margin: 0 0.4em 0 0;
        margin-bottom: 0.8em;
        border:1px solid #e0e0e0;
        text-align: center;

  zoom:1;
  *display: inline;
}

ul.presskit li a {
        font-size: 0.9em;
}

ul.presskit li.wide {
        width: 16.33em;
}

p.presskit {
        clear: both;
        margin-top: 1em;
        margin-left: 0.4em;
}


/** people pages **/

div.list { width: 30%; float: left; } 
div.list ul { margin-top: 0.175em !important; line-height:1.5em;} 
p.org { border-top:1px solid #DDDDDD; margin-right:20px; padding-top:10px; }  
div.person { padding: 0 0 40px 0; } 
div.person img { padding: 0 20px 20px 0; } 


.wp-pagenavi {
    padding-bottom: 20px;
}

select, input[type=file] {
    height: auto;
}

input,
textarea,
select,
.uneditable-input { 
    height: auto;
}

/* Tables in the wiki should have cell borders */
.wiki_table td {
	border: 1px solid #DDDDDD;
	padding: 1ex;
}

/* Add a little white space after each blog post to separate posts */
.blog {
	margin-bottom: 2em;
}

/* Override the #bfbfbf from bootstrap CSS file */
p small {
	color: #222222;
}

/* Override default color for <li> tesxt in bootstrap CSS file */
li {
	color: #000000;
}
